/*   FOOTER
 **************/
 
.footer {
	align-items: center;
	background-color: $purple;
	display: flex;
	flex-direction: column;
	padding: 2em;

	a,
	p,
	.copyright {
		color: $white;
		font-size: 14px;
		font-family: $header-font;
		letter-spacing: 1.2px;
		text-transform: uppercase;
	}
}

.copyright {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;

	&__figure {
		margin: 1em;
		width: 50px;
	}
}

@media (min-width:$s) {
	
	.footer {
		flex-direction: row;
		justify-content: space-between;
	}

	.copyright {
		flex-direction: row;
		text-align: left;

		&__figure {
			padding-left: 1em;
		}
	}

}

.cta {
	background-color: $purple;
	color: $white;
	text-align: center;
	padding: 1em;

	&__header {
		margin: .5em 0 1em;
	}

	&__link {
		@include transition(background);
		background-color: $coral;
		color: $white;
		display: inline-block;
		padding: 1em;
		text-align: center;
		text-transform: uppercase;
		transform: skewX(-10deg);

		&:hover {
			background-color: $white;
		}
	}
}



