/*   MAIN 
 ************/


/* General Styles */

.pad {
	background-color: $light-gold;
	padding: 4em 0;
}

.text-center {
	text-align: center;
}

/* Front Page Styles */

.hero {
	background-color: $light-gold;
	margin: 1em auto 0;
	padding: 2em;
	position: relative;
	height: calc(100vh - 139px);

	&__wrapper {
		align-items: center;
		background-color: $white;
		border: 2px solid $white;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 1.5em;
	}

	&__content {
		margin: 1em auto;
		max-width: 320px;
	}

	&__header {
		&:before {
			background-color: $gold;
			content: '';
			display: block;
			height: 10px;
			margin: 0 0 1em;
			width: 80px;	
		}
	}

	&__text {
		font-size: 1.2em;
		margin-top: .5em;
	}
}

@media (min-width: $s) {
	.hero {
		&__header {
			font-size: ms(1);
		}

		&__text {
			font-size: ms(1);
		}
	}
}

@media (min-width: $l) {
	.hero {
		&__wrapper {
			flex-direction: row;
		}

		&__figure {
			width: 50%;
		}
	}
}

/* Styles for any background images */

.background-image {
	background-size: cover;
	background-color: $purple;
	background-position: top center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

/* Styles for the intro sections used on several pages */

.intro {
	background-color: $light-purple;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4em 1em;
	position: relative;

	&__wrapper {
		max-width: 650px;
    padding: .5em;
	}

	&__wrapper-full {
		margin: 2em auto;
	}

	&__header {
		&:before {
			background-color: $purple;
			content: '';
			display: block;
			height: 10px;
			margin: 0 0 1em;
			width: 80px;	
		}

		&-full:before {
			margin-bottom: .4em;
		}
	}

	&__text {
		font-size: 1.2em;
		margin-top: .5em;
	}

	&__text-full {
		font-size: 18px;
		text-align: center;
	}

	&__figure {
		max-width: 400px;
		padding: 1em;

		img {
			border-radius: 100%;
		}
	}
}

.intro__full {
	padding: 4em 2em;
	
	.intro__wrapper {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		padding: 0;
		max-width: 900px;
		width: 100%;
	}

	.intro__text {
		max-width: 600px;
	}
}

@media (min-width: $s) {
	.intro {
		padding: 5em 2em;

		&__text-full {
			font-size: ms(2);
    	max-width: 850px;
		}

		&__wrapper-full {
			margin: 0;
			padding: 0;
		}
	}
}

@media (min-width: $m) {
	.intro {
		flex-direction: row;

		&__wrapper {
			padding: 1em 0 1em 3em;
		  width: 55%;
		}

		&__figure {
			width: 40%;
		}
	}

	.intro__full {
		.intro__text {
			margin-top: 1.45em;
		}

		.intro__wrapper {
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

@media (min-width: $l) {
	.intro {
		&__wrapper {
			width: 60%;
		}

		&__figure {
			width: 35%;
		}

		&__wrapper-full {
			max-width: 820px;
			width: 100%;
		}
	}
}

.diamond {
	position: absolute;
  top: -75px;
  width: 150px;
  left: calc(50% - 75px);
  height: auto;
}

.cards {
	margin: 4em auto;

	&__header {
		margin: 1em auto;
		text-align: center;
	}
}

.card {
	margin: 1em auto;
	position: relative;
	max-width: 450px;
	width: 100%;

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__inner {
		align-items: center;
		background-color: $white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1.5em;
		position: absolute;
		margin: 1em;
		text-align: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 7;
	}

	&__link {
		color: $coral;
		display: inline;
		font-weight: 600;
		text-transform: uppercase;
		&:after {
			background-color: $coral;
			content: '';
			display: block;
			width: 0;
			height: 2px;
			@include transition(width);
		}
	}

	&__link:hover:after {
		width: 100%;
	}

	&__text {
		margin: .5em auto;
	}

	&__svg {
		height: 60px;
		margin-bottom: 1em;
	}

	.fa {
		display: none;
		font-size: 22px;
		margin-bottom: 14px;
	}
}

@media (min-width: 400px) {
	.card {
		&__inner {
			margin: 2em;
		}
	}
}

@media (min-width: $s) {
	.cards {
		margin: 5em auto;
	}

	.card {
		width: 65%;

		&__text {
			margin: 1em auto;
		}

		.fa {
			display: inline-block;
		}
	}
}

@media (min-width: $m) {
	.card {
		width: 45%;

		&__wrapper {
			flex-direction: row;
		}

		&__inner {
			margin: 1.5em;
		}
	}
}

@media (min-width: $l) {
	.card {
		&__inner {
			margin: 2em;
		}
	}
}


/* Testimonial Slider */

.slider {
	position: relative;
	overflow: hidden;
	
	&__list {
		list-style: none;
	}

	&__item {
		display: flex;
		align-items: center;
		float: left;
		width: 100vw;
		min-height: 650px;
		margin: 0;
		padding: 0;
		position: relative;

		&:nth-child(even) {
			background-color: $light-gold;
			border-bottom: 8px solid $coral;
			//border-top: 4px solid $coral;
		}

		&:nth-child(odd) {
			background-color: $light-gold;
			border-bottom: 8px solid $gold;
			//border-top: 4px solid $gold;
		}
	}

	&__item-services {
		min-height: 530px;
	}
}

.testimonials {
	&__header {
		position: absolute;
		left: 5%;
		text-align: center;
		top: 2.5em;
		width: 90%;
		z-index: 5;
	}
}

.testimonial {
	//margin: 5em auto 4em;
	//padding: 3em 1em;
	margin: 0 auto;
	padding: 3em 1em 0;
	width: 95%;
	
	&__description {
		font-size: 18px;
		text-align: center;
	}

	&__contact {
		font-family: $header-font;
		font-size: 18px;
		font-weight: 600;
		margin-top: 1em;
		text-align: center;
	}
}

.slider__buttons {
	bottom: 1.5em;
	display: flex;
	justify-content: space-between;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 5;

	button {
		background: none;
	}

	.fa {
		font-size: 50px;
		margin: 0 1em;
		padding: .5em;
	}
}

@media (min-width: 400px) {
	.slider__item {
		min-height: 550px;
	}

	.slider__item-services {
		min-height: 460px;
	}
}

@media (min-width: 450px) {
	.slider__item {
		min-height: 510px;
	}

	.slider__item-services {
		min-height: 400px;
	}
}

@media (min-width: 600px) {
	.testimonials__header {
		top: 3em;
	}

	.testimonial {
		padding: 3.5em 1em 0;
	}

	.slider__item {
		min-height: 470px;
	}

	.slider__item-services {
		min-height: 360px;
	}
}

@media (min-width: $s) {
	.testimonials {
		&__header {
			left: 30%;
			width: 40%;
		}
	}

	.testimonial {
		width: 90%;

		&__description {
			max-width: 680px;
			margin: 0 auto;
		}

		&__contact {
			text-align: right;
		}
	}

	.slider {
		&__item {
			min-height: 420px;
		}

		&__item-services {
			min-height: 350px;
		}

		&__buttons {
			left: 20%;
			width: 60%;
		}
	}
}

@media (min-width: $m) {
	.testimonial {
		width: 80%;
	}
}


/* Details Content */

.details {
	background-color: $light-gold;
	padding: 4em 2em;

	&-2 {
		background-color: $white;
	}

	&-3 {
		background-color: $light-purple;
	}

	&__header {
		margin-bottom: 1em;
		//max-width: 200px;
		text-align: center;
		max-width: 600px;
		padding: 1em;
		background-color: $purple;
		border: 6px solid $purple;
		color: $white;
		transition: all .6s ease-out;

		&-left {
			text-align: left;
		}
	}

	&__wrapper {
		//display: flex;
		//flex-direction: column;
		//justify-content: space-between;
		//max-width: 900px;
    //width: 100%;
		padding: 1em 0;
		position: relative;
		margin: 0 auto;
    display: block;
    max-width: 600px;
	}

	&__wrapper-flex {
		display: flex;
		flex-direction: column;
	}

	&__wrapper:hover,
	&__wrapper:focus {
		.details__header {
			background-color: $white;
			color: $purple;
		}

		.details__text {
			max-height: 600px;
			transition: max-height .6s ease;
		}
	}

	&__text {
		font-size: 1.2em;
		max-width: 600px;
		text-align: center;
		// new styles
		max-height: 0px;
		overflow: hidden;
		transition: max-height .6s ease;
	}

	&__list {
		color: $purple;
		list-style: disc;
		margin-left: 1.5em;
		margin-top: 1em;
		font-size: 18px;
		text-align: left;

		li {
			margin-top: .2em;
		}

		span {
			color: $dark-grey;
		}
	}


	strong {
		font-weight: 900;
	}
}

.left {
	text-align: left;
}

@media (min-width: $s) {
	.details {
		&__wrapper-flex {
			flex-direction: row;
		}

		&__left {
			margin-bottom: 0;
			margin-right: 1.5em;
		}

		&__wrapper:hover,
		&__wrapper:focus {
			.details__text {
				max-height: 300px;
			}
		}
	}
}

@media (min-width: $m) {
	.details {
		&__wrapper {
			flex-direction: row;
		}
	}
}


/* Other Page Styles */

.text-align {
	text-align: center;
}

.box__header {
	padding: 30px 0;
	margin-top: 1em;
	position: relative;
	margin-bottom: -100px;
	z-index: 5;

	h2 {
		background-color: $white;
	  display: inline-block;
	  color: $purple;
    padding: 1em;
  	border: 6px solid $purple; 	
	}

	&-gold {
		h2 {
			border-color: $gold;
			color: $gold;
		}
	}
}

.fill__header {
	background-color: $coral;
	color: $white;
	display: inline-block;
	margin: 0 auto 1em;
	padding: .75em;
}

@media (min-width: $s) {
	.box__header {
		h2 {
			padding: 1em 2em;
		}
	}
}

.featured__figure {
	background: linear-gradient($purple, $gold);
}


/* About Styles */

.about {
	&__wrapper {
		margin: 0 auto;
  	max-width: 800px;
  	padding: 3em 2em;
	}

	&__header {
		margin: 1em 0;
	}

	&__figure {
		margin: 2em auto;
		border: 6px solid $white;
		width: 70%;
	}
}

@media (min-width: $s) {
	.about {

		&__figure {
			width: 50%;
		}
	}
}


/* Quote Styles */

.quote {
	background-color: $white;
	padding: 4em 1em;

	&__wrapper {
		padding: .5em;
		max-width: 900px;
    text-align: center;
    margin: 0 auto;
    position: relative;
	}

	&__paragraph {
		color: $purple;
		font-family: $header-font;
		font-size: ms(1);
		font-weight: 700;
		line-height: 1.3;
	}

	&__svg {
		margin-bottom: .5em;
		width: 50px;
		g {
			stroke: $gold;
		}
	}

	&__list {
		color: $purple;
		display: inline-block;
		list-style: disc;
		margin: 1em auto 0;
		font-family: $header-font;
		font-size: 18px;
		text-align: left;

		li {
			margin-top: .2em;
		}

		span {
			color: $purple;
		}
	}

}

.number {
  font-size: 60px;
  font-family: $header-font;
  color: $gold;
  position: absolute;
	left: -35px;
	top: -17px;
}

/* Services */

.services {
	background-color: $light-purple;
	padding: 2em 0 3em;
}

.service {
	padding: 2em 0 1em;

	&__wrapper {
		border: 8px solid $white;
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
		padding: 1.5em;
	}

	&__text {
		font-size: 1.2em;
    margin-top: .5em;
	}
}


/* Assessments and Contact */

.assessments,
.contact {
	background-color: $light-purple;
	padding: 4em 2em;
	&__wrapper {
		margin: 0 auto;
		max-width: 800px;
	}

	&__text {
		margin-bottom: 2em;
	}
}

/* About */

.bios {
	margin: 1em auto;
	width: 100%;
	&__wrapper {
		display: flex;
		justify-content: center;

	}
}

.bio {
	padding: 1em;
	width: 40%;

	&__figure {
	//	border: 6px solid #fff;
	}

	&__text {
		font-size: 15px;
		margin-top: .5em;
	}
}


